/* Estilos para la tarjeta individual */
.container-ProyectDashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.05fr 0.5fr;
    grid-template-areas:
      "carta-payment project-status project-status"
      "proyect-table-title proyect-table-title Add-Proyect"
      "project-table project-table project-table";
  }

  .proyect-table-title {
    grid-area: proyect-table-title;
    font-size: 31px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;

  }

  .Add-Proyect {
    margin: 20px;
    grid-area: Add-Proyect;
    background: #394C5F;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.Add-Proyect:hover {
    background: #5c7b9a;
}


.carta-payment {
    grid-area: carta-payment;
    margin: 20px;
    margin-left: 100px;
    background: #F6F5F2;
    border-radius: 10px;
    padding: 1.2rem;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
  }

  /* Cambio de color y elevación al hacer hover sobre la tarjeta */
  .carta-payment:hover {
    transform: translateY(-5px);
  }

  /* Estilos para el encabezado de la tarjeta */
  .carta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  /* Estilos para los textos dentro de la tarjeta */
  .ctitulo {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-top: 6px;
    transition: color 0.3s ease;
  }

  .amount-valor {
    color: #003E61;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    transition: color 0.3s ease;
  }

  /* Estilos para el medidor */
  .gauge {
    position: relative;
    width: 200px; /* Ajusta el tamaño de tu medidor aquí */
    height: 100px; /* La mitad del ancho para una semi-circunferencia */
    overflow: hidden;
  }

  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%; /* Para que sea un círculo perfecto */
    background: #eee;
    position: relative;
    border-top-left-radius: 200px; /* El doble del ancho de .gauge */
    border-top-right-radius: 200px; /* El doble del ancho de .gauge */
    overflow: hidden;
  }

  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200%; /* El doble del ancho de .gauge */
    height: 200%; /* El doble del ancho de .gauge */
    background: #03A6A6; /* Color de relleno */
    transform-origin: center top;
    transform: rotate(0.25turn); /* Ajusta este valor para cambiar el llenado */
    transition: transform 0.2s ease-out;
  }

  .gauge__cover {
    width: 75%; /* Tamaño del círculo central */
    height: 150%; /* Debe ser suficiente para cubrir completamente la parte inferior */
    background: #F6F5F2; /* Color del centro */
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Estilos para centrar el texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%; /* Ajuste para centrar el texto */
    box-sizing: border-box;
  }

  /* Estilos para el texto */
  .gauge__cover::after {
    display: block;
    font-size: 25px; /* Ajusta el tamaño de fuente según sea necesario */
  }

  .project-table {
    grid-area: project-table;
    background: white;
    margin-left: 20px;
    width: 97%;
    border-collapse: collapse;
}

.project-table th,
.project-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.project-table th {
    background-color: #394C5F;
    color: #fff;
}

.project-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.project-table tbody tr:hover {
    background-color: #ddd;
}

.project-table img {
    vertical-align: middle;
}

.project-table .status {
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
}

.project-table .status.approved {
color: #4CAF50;
}

/* Agregamos estilos para los íconos */
.project-table .iconImage {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.seccion-proyectos{
    background: #F6F5F2;
    padding: 10px;
    border-radius: 12px;
    width: 680px;
    height: 180px;
    box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
  }

  .num-proyectos span {
    color: #6A6F70;
    font-weight: bolder;
    font-size: 18px;
  }

  .estatus1, .estatus2, .estatus3, .estatus4{
    margin-bottom: 12px;
  }

  /* Estilos para el indicador de estado (el punto redondo) */
  .estatus-indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    /* El color se especifica en cada clase de estatus individual */
  }

  .estatus1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .estatus1 .estatus-indicador{
    background: #03A6A6;
  }

  .estatus2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .estatus2 .estatus-indicador{
    background: #F1E78E;
  }

  .estatus3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .estatus3 .estatus-indicador{
    background: #F4917B;
  }

  .estatus4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .estatus4 .estatus-indicador{
    background: #00AB84;
  }

 /* Estilos para el contenedor de la barra de progreso que siempre tendrá el color de fondo gris */
.project-status{
    grid-area: project-status;
    margin: 30px;
}

.barra-progreso-contenedor {
  width: 50%;
  height: 10px;
  background-color: #ccc; /* Color de fondo gris para la parte no completada */
  border-radius: 5px;
  margin: 0 12px;
}

/* Estilos para la parte rellena de la barra de progreso */
.barra-progreso-relleno {
  width: 40%;
  height: 100%;
  background-color: #03A6A6; /* Color inicial, cambiar según el estatus */
  border-radius: 5px; /* Asegúrate de que los bordes redondeados se apliquen al relleno también */
}

/* Estilos específicos para el color de fondo de la parte rellena de la barra de progreso */
.estatus1 .barra-progreso-relleno {
  background-color: #03A6A6;
}

.estatus2 .barra-progreso-relleno {
  background-color: #F1E78E;
}

.estatus3 .barra-progreso-relleno {
  background-color: #F4917B;
}

.estatus4 .barra-progreso-relleno {
  background-color: #00AB84;
}


/* Para pantallas más pequeñas, cambiar a una sola columna */
@media screen and (max-width: 768px) {
    .container-ProyectDashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .performance-meter,
    .project-status,
    .proyect-table-title,
    .project-table {
        width: 100%; /* Ocupar todo el ancho disponible */
        margin: 20px 0; /* Agregar espacio entre los elementos */
    }

    .Add-Proyect {
        width: 40%;
        margin: 20px 0;
    }

    .proyect-table-title {
        text-align: center; /* Centrar el título */
    }

    .carta-payment {
        margin-left: auto; /* Centrar la tarjeta */
        margin-right: auto;
    }

    .seccion-proyectos {
        width: 90%; /* Reducir el ancho de la sección */
        margin: 20px auto; /* Centrar la sección */
    }
}

