.title-books {
  width: 100%;
  /* border: black dotted; */
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.container-books {
  padding: 40px;
  height: 100%;
  width: 100%;
  padding: 100px
}

.container-card-book {
  transform: scale(0.8);
  /* border: #212020 dotted; */
}

.container-card-book-second {
  transform: scale(4);
  /* border: #212020 dotted; */
}

/* sytle con -d*/

.card-book-d {
  width: 190px;
  height: 254px;
  background: lightgrey;
  position: relative;
  transform: skewY(-10deg);
  border: 5px solid #293846;
  box-sizing: border-box;
  transition: all 0.3s;
}

.card-book-d img {
  width: 180px;
  height: 224px;
}

.card-book-d::before {
  content: '';
  width: 10px;
  height: 254px;
  background: #293846;
  position: absolute;
  top: -5px;
  left: -14.7px;
  transform-origin: right;
  transform: skewY(45deg);
  border: none;
  transition: all 0.5s;
}

.card-book-d::after {
  content: '';
  height: 10px;
  width: 190px;
  background: #293846;
  position: absolute;
  top: -14.7px;
  left: -5px;
  transform-origin: bottom;
  transform: skewX(45deg);
  border: none;
  transition: all 0.5s;
}

.card-book-d:hover {
  transform: skewY(0deg);
}

.card-book-d:hover::before {
  width: 0px;
  height: 249px;
  left: 0;
  top: 0.1px;
}

.card-book-d:hover::after {
  width: 184px;
  height: 0px;
  left: 0.1px;
  top: 0;
}

/* new style */

.card-book {
  width: 190px;
  height: 254px;
  background: lightgrey;
  position: relative;
  transform: skewY(0deg); /* Cambiado */
  border: 5px solid #293846;
  box-sizing: border-box;
  transition: all 0.3s;
  z-index: 2;
}

.card-book img {
  width: 180px;
  height: 224px;
}

.card-book::before {
  content: '';
  width: 10px;
  height: 254px;
  background: #293846;
  position: absolute;
  top: -5px;
  left: -14.7px;
  transform-origin: right;
  transform: skewY(45deg);
  border: none;
  transition: all 0.5s;
}

.card-book::after {
  content: '';
  height: 10px;
  width: 190px;
  background: #293846;
  position: absolute;
  top: -14.7px;
  left: -5px;
  transform-origin: bottom;
  transform: skewX(45deg);
  border: none;
  transition: all 0.5s;
}

.card-book:hover {
  transform: translateY(-10px) rotate(-10deg); /* Mueve hacia arriba, rota y escala */
  z-index: 3;
}

.card-book:active {
  transform: scale(0.9); /* Cambiado */
  z-index: 3;
}

.card-book:hover::before {
  width: 10px; /* Cambiado */
  height: 254px; /* Cambiado */
  left: -14.7px; /* Cambiado */
  top: -5px; /* Cambiado */
}

.card-book:hover::after {
  width: 190px; /* Cambiado */
  height: 10px; /* Cambiado */
  left: -5px; /* Cambiado */
  top: -14.7px; /* Cambiado */
}

/* Style selft */

.shelf {
  width: 365px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(122, 78, 78, 0.2); /* sombra debajo */
  position: absolute;
  right: 5px;
  top: 255px;
  z-index: 1;
}

.info-alumno {
  position: absolute;
  width: 180px;
  height: 50px;
  color: white;
  background-color: #293846;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.tag-state-finish {
  position: absolute;
  width: 180;
  height: 30px;
  color: white;
  top: 0;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  left: 110px;
}

.tag-state-process {
  position: absolute;
  width: 110px;
  height: 30px;
  color: white;
  top: 0;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  left: 100px;
}

/* finish new style */

.card__content-book {
  padding: 10px;
}

.button-books {
  margin-top: 45px;
  height: 40px;
  width: 190px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.button-books:hover {
  background-color: #6f6f6f;
}

.button-books:active {
  transform: scale(0.9);
}

.select-books{
  margin-top: 30px;
  height: 35px;
  width: 190px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: -20px;
  border: none;
}

.select-books-sd{
  margin-top: 30px;
  height: 35px;
  width: 190px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 220px;
  top: -22px;
  border: none;
}

.add-button-book {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 230px;
  top: 10px;
  padding-left: 4.5px;
  padding-bottom: 0.5px;
  border-radius: 4px;
  transition: 0.3s;
}

.create-book-position {
  position: absolute;
  left: 868px;
  bottom: 40px;
}

.add-button-book:hover {
  background-color: #6f6f6f;
}

.add-button-book:active {
  transform: scale(0.9);
}

.edit-button-book {
  background-color: #293846;
  position: absolute;
  width: 35px;
  height: 35px;
  left: -60px;
  top: 150px;
  padding-left: 4.5px;
  padding-bottom: 0.5px;
  border-radius: 4px;
  transition: 0.3s;
  transform: scale(1.3);
}

.edit-button-book:hover {
  background-color: #6f6f6f;
}

.edit-button-book:active {
  transform: scale(0.9);
}

.delete-button-book {
  background-color: #293846;
  position: absolute;
  width: 35px;
  height: 35px;
  left: -60px;
  top: 200px;
  padding-left: 4.5px;
  padding-bottom: 0.5px;
  border-radius: 4px;
  transition: 0.3s;
  transform: scale(1.3);
}

.delete-button-book:hover {
  background-color: #6f6f6f;
}

.delete-button-book:active {
  transform: scale(0.9);
}

.search-scale {
  position: absolute;
  top: 3.2px;
  right: -20px;
  transform: scale(0.77);
}

.ctn-bk {
  /* border: black dotted; */
  padding-left: 30px;
  max-width: 95%;
  max-height: 80vh;
  overflow-y: auto;
  align-items: center;
  justify-content: space-around;
}

.container-bk {
  /* border: black dotted; */
  width: 100%;
  height: 100%;
}

.ctn-bk::-webkit-scrollbar {
  width: 0;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.ctn-bor {
  text-align: center;
  width: 300px;
  /* border: dotted black; */
}

.scale {
  transform: scale(2.4);
}

/* CARD RESPONSIVE */

@media only screen and (max-width: 900px) {
  .scale {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 600px) {
  .scale {
    transform: scale(1.6);
  }
}

/* BOOK DETAIL DESING */

.card-detail-book .p-book {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #2f2f2f;
  box-shadow: #1f2937;
}

.card-detail-book .p-book .small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #1f2937;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1-detail-book {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #dadada;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1-detail-book:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #1f2937;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 60% 10%;
  transition: transform 0.25s ease-out;
}

.card1-detail-book:hover:before {
  transform: scale(21);
}

.card1-detail-book:hover .p-book {
  transition: all 0.3s ease-out;
  color: white;
}

.card1-detail-book:hover .h1-book {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2-detail-book {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2-detail-book:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2-detail-book:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2-detail-book:hover:before {
  transform: scale(2);
}

.card3-detail-book {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3-detail-book .go-corner {
  opacity: 0.7;
}

.card3-detail-book:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3-detail-book:hover p {
  color: #00838d;
}

.card3-detail-book:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4-detail-book {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4-detail-book .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4-detail-book .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4-detail-book:hover {
  border: 1px solid #cd3d73;
}

.card4-detail-book .h1-book {
  margin-top: 8px;
}

.card4-detail-book:hover .go-corner {
  margin-right: -12px;
}

.card4-detail-book:hover .go-arrow {
  opacity: 1;
}

.position-books {
  position: absolute;
  top: -40px;
  right: 10px;
  transform: scale(0.85);
}

.position-books-2 {
  position: absolute;
  top: -40px;
  right: 200px;
  transform: scale(0.85);
}

.scale-d {
  transform: scale(2.5);
}
