.seccion-carreras{
    box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
  }

  .seccion-projects{
    box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
  }

  .seccion-titulo span{
    font-size: 22px;
    color: #6A6F70;
    font-weight: bolder;
  }

  .line {
    margin: 10px 5px;
    background: #6A6F70 ;
  }


/*ESTILOS PARA EL APARTADO DE RESUMEN*/
.resumen{
  background: #F6F5F2;
  padding: 14px;
  border-radius: 12px;
  width: 260px;
  height: 400px;
  box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
}

.btn-export{
  border-radius: 12px;
  background: #00AB84;
  color: #fff;
  width: 100px;
  height: 35px;
  border: none;
  margin-left: 12px;
  cursor: pointer;
}

.resumen-item {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.resumen-icono {
  /* Estilos para el icono, si es necesario */
}

.resumen-info {
  flex-grow: 1;
  margin-left: 8px;
}

.resumen-nombre {
  color: #394C5F;
  font-weight: bolder;
  font-size: 18px;
}

.resumen-barra {
  background-color: #ccc; /* Color de fondo para la barra no completada */
  height: 10px;
  border-radius: 5px;
  overflow: hidden; /* Permite que el borde redondeado recorte el contenido */
}

.resumen-barra-relleno {
  height: 100%;
  background-color: #03A6A6; /* Color de fondo para la barra completada */
  border-radius: 5px; /* Asegúrate de que los bordes redondeados se apliquen al relleno también */
}

.resumen-numero {
  margin-left: 8px; /* Espacio entre la barra de progreso y el número */
}
