.seccion-carreras{
    width: 680px;
    padding: 18px;
    background: #F6F5F2;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 5px rgba(0.6, 0.9, 0.5, 0.2);
  }

  .seccion-titulo span{
    font-size: 22px;
    color: #6A6F70;
    font-weight: bolder;
  }

  .seccion-titulo hr{
    margin: 10px 5px;
    background: #6A6F70 ;
  }