/* Estilos CSS */
.modal-button {
    padding: 1.0em 1.0em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.fondo{
    text-align: center;
    font-size: 30px;
    color: #293846;
    padding: 20px 10px 2px;
    font-weight: bold;
}
.rounded-lg {
    border: 3px solid #CCD1D1;
    overflow: visible;
    width: 190px;
    height: 254px;
}

/* Contenedor de la tabla */
.tabla-project {
    overflow-x: auto; 
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0 5px; 
    max-width: calc(100% - 20px);
    width: calc(100% - 20px); 
    white-space: normal;  
}
.tabla-cont-project table {
    table-layout: fixed;
    width: 100%;
}
.tabla-cont-project th,
.tabla-cont-project td {
    padding: 0.5em;
    text-align: center;
    word-wrap: break-word;
}




