/* Estilos CSS */
.modal-button {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}
.fondo{
    text-align: center;
    font-size: 30px;
    color: #293846;
    padding: 20px 10px 2px;
    font-weight: bold;
}
.tabla-cont-project tr:hover td {
    background-color: #C8C7C7; /* Color gris fuerte al pasar el cursor sobre las celdas */
}
@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px);
    }
}   
@media (max-width: 360px) {
    .card {
        width: calc(100% - 20px);
    }
}

/* Contenedor de la tabla
.tabla-project {
    overflow-x: auto; 
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0 5px; 
    max-width: calc(100% - 20px);
    width: calc(100% - 20px); 
    white-space: normal;  
}
.tabla-cont-project table {
    table-layout: fixed;
    width: 100%;
}
.tabla-cont-project th,
.tabla-cont-project td {
    padding: 0.5em;
    text-align: center;
    word-wrap: break-word;
}*/

