/*Estilos Css*/
.modal-button {
    padding: 1.0em 2em;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}
.fondo{
    text-align: center;
    font-size: 25px;
    color: #28807C;
    padding: 20px 10px 2px;
    font-weight: bold;
}
/*Ajustes para hacer la  pantalla responsiva*/
@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px);
    }
}   
@media (max-width: 360px) {
    .card {
        width: calc(100% - 20px);
    }
}