@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'NerdFont';
    src: url('/fonts/NerdFont.ttf') format('truetype');
}
[class^="nf-"]:before {
    font-family: 'NerdFont', monospace;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nf-skull:before{
    content: "\uee15";
}
