.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: white;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 100%
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }




  .form-control {
    position: relative;
    margin: 20px 0 40px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #023047 solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #0230477;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: #023047;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #293846;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: #023047;
    transform: translateY(-30px);
  }
  
  