/* Tabla */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..700&family=Signika:wght@300..700&display=swap');

.tabla-project {
    border-radius: 40px;
    padding: 2rem;
    grid-column: auto;
    overflow: hidden; /* Asegura que todo dentro del contenedor se ajuste al tamaño */
}

.tabla-titulo-project {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
}

.tabla-cont-project {
    width: 100%;
}

.tabla-project table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-project th {
    padding: 10px; /* Reducido de 15px */
    text-align: center;
    background-color: #293846;
    font-size: 14px; /* Tamaño de fuente más pequeño para los encabezados */
}

.tabla-project td {
    padding: 10px; /* Reducido de 15px */
    font-size: 14px; /* Tamaño de fuente más pequeño para el contenido */
    color: #0f0e0e;
    text-align: center;
    font-weight: 500;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el contenido que excede el tamaño de la celda */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.tdcat {
    text-align: center;
}

.tabla-project tr:nth-child(even) {
    background: #dcdbdb;
}

.prevnext {
    left: 100%;
}
