  /* Estilos CSS */
  .container {
    width: 80%; /* Cambia el ancho al 90% */
    max-width: 1200px;
    height: 100%; /* Establece la altura del contenedor al 100% del viewport */
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(249, 249, 249, 0);
}
.edit-form {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
 justify-content: center;
}
.heading {
  text-align: center;  
  font-size: 25px; 
  color: #293846;
  padding: 10px 15px 20px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.names, .permission-label  {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.permission-label  {
  font-size: 16px;
}
.edit-form {
  background-color: #DBEFF0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
 justify-content: center;
}
.form-group {
    margin-top: 30px;
    text-align: center;
}
.form-group-name {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.permission-label{
  font-weight: bold;
  text-align: center; /* Centramos el texto horizontalmente */

}
.input-box {
    width: 55%;
    cursor: text;
    display: flex;
    flex-flow: column wrap;
  }
  input,
  label {
    font-family: "Arial";
    text-align: left;
    color: #000000;
    cursor: text;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
  }
  input {
    order: 2;
    background: none;
    border: 0;
    border-bottom: 1px solid #5a5a5a;
    position: relative;
    z-index: 100;
    height: 20px;
    outline: none;
    transition: border-bottom 0.35s;
    margin-top: 10px;
    text-align: center;
  }
  input:focus,
  input:valid {
    border-bottom: 2px solid rgb(0, 42, 255);
    transition: border-bottom 0.35s;
  }
  input:focus + label,
  input:valid + label {
    transform: translateY(-10px);
    font-size: 15px;
    transition: all 0.35s ease;
    color: #000000;
  }
  label {
    line-height: 0;
    transform: translateY(15px);
    transition: all 0.35s ease;
  }

.checkbox-group {
    margin-top: 20px;
    max-height: 350px; 
    max-width: 1300px; 
    overflow-y: auto; 
}

.checkbox {
    display: flex; 
    align-items: flex-end; 
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.input-checkbox {
  margin-left: 100px;
}

.checkbox-label {
  width: 1550px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap; /* Permitir que el texto haga saltos de línea */
  align-items: flex-start; /* Alinear el texto al principio */
}
.checkbox-label-text {
  width: 100%; /* Permitir que el texto ocupe todo el ancho disponible */
}
.botones-container {
  text-align: center; /* Alinea los botones al centro horizontalmente */
  margin-top: 20px; /* Agrega margen superior para separarlos del contenido */
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #5A94D2;
    color: #fff;
    border-radius: 10px;
}
.btn-primary:hover {
  background-color: #007bff;
  border-radius: 10px;
}

.btn-secondary {
    background-color: #94989A;
    color: #fff;
    margin-left: 10px;
    border-radius: 10px;
}
.btn-secondary:hover {
  background-color: #6c757d;
  border-radius: 10px;
}