
.container {
    padding: 0 20px;
    max-width: 1200px; 
    margin: auto;   
}
h1 {
    text-align: center;  
    font-size: 35px; 
    color: #293846;
    padding: 0 10px;
    font-weight: bold;
    position: relative;
    z-index: 2; 
}
.add-btn {
        padding: 1.0em 1.0em;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #4FD1C5;
        border: none;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        display: inline-block;
        position: relative;
        z-index: 2;
}

 .botonagregar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
 }
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.card {
    width: calc(33.33% - 15px);
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 4px solid #CACFCE;
    border-radius: 0.675rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    position: relative;
    height: 300px;   
}
.card:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}
.card-body {
    padding: 90px 20px; 
    height: calc(100% - 100px);
}
.card-title {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%; 
    font-size: 1.75rem;
    font-weight: 600;
    color: #000000;
    margin-top: 1rem;
    border-bottom: 2px solid #929292;
}
.card img {
    width: 150px;
    height: 150px;
}
.card-iconos{
    font-size: 60px;
    text-shadow: 4px 2px 2px teal;
}
.card-footer {
    position: absolute;
    /*border-top: 2px solid #929292;*/
    text-align: center;
    padding: 10px 1rem;
    bottom: 20px;
    width: 100%;
    left: 0;
}
.card-footer .button-container {
    display: inline-block;
    margin-left: 10px;
}
.btn {
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.btn-info {
    background-color: #54B8C7;
    color: #fff;
}

.btn-primary {
    background-color: #548ECD;
    color: #fff;
}

.btn-danger {
    background-color: #CD3A49;
    color: #fff;
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px);
    }
}   
@media (max-width: 360px) {
    .card {
        width: calc(100% - 20px);
    }
}